---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>

<div class="keep-in-touch">
  <p>
    {% if site.owner.twitter %}
    If you like this post, you can share it on <a href="https://twitter.com/intent/tweet?url={{site.url}}/{{page.url}}" target="_blank">Twitter</a> and <a href="https://plus.google.com/share?url={{site.url}}/{{page.url}}" target="_blank">Google+</a> and then follow me on <a href="https://twitter.com/{{site.owner.twitter}}" target="_blank">Twitter</a> and <a href="https://plus.google.com/u/0/+{{site.owner.google_plus}}" target="_blank">Google+</a>.
    {% endif %}
  </p>
</div>

{% if site.disqus_shortname %}
{% include disqus_comments.html %}
{% endif %}
